<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="UTF-8">
<title>聖誕節快樂</title>
<style>
body {
    margin: 0;
    background: radial-gradient(circle at center, #001, #000);
    height: 100vh;
    overflow: hidden;
    font-family: monospace;
    color: white;
    position: relative;
}


   pre{
    text-align: center;
    font-size: 5px;
    color: rgb(138, 90, 184);
    transition-property: color,;
    transition-duration: 3s;
    transition-timing-function: ease-in;
    transform-origin: center top;
    animation: my-animation 3s infinite linear, colorchange 3s infinite alternate;   }
    pre:hover{color:rgb(222, 177, 234)}
/* 閃爍效果 */
   @keyframes my-animation{
    0%{
        transform:rotate(0deg);
    }
    25%{
        transform:rotate(10deg);
    }
    50%{
        transform:rotate(0deg);
    }
    75%{
        transform:rotate(-10deg);
    }
    100%{
        transform:rotate(0deg);
    }
}

@keyframes flicker {
    0% { opacity: 0.2; transform: scale(0.9); }
    50% { opacity: 1; transform: scale(1); }
    100% { opacity: 0.2; transform: scale(0.9); }
}

/* 顏色隨機閃爍 */
@keyframes colorchange {
    0% { color: #bc4949; }   
    20% { color: #f9c679; }  
    40% { color: #eed78b; }  
    60% { color: #a7e8a7; }  
    80% { color: hsl(180, 61%, 77%); }  
    100% { color: #e895c4; } 
}
</style>
</head>
<body>

<!-- ASCII 煙火 -->
<pre>                                                                                                       ...                                                                                                                         
                                                                                                       ...                                                                                                                        
                                                                                                .-+*#%%%%%#*+====+#%%%*+-.                                                                                                        
                                                                                              -*%@@@@@@@@@@@@@@@@@@@@@@@@%%*-                                                                                                     
                                                                                           :=%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#=.                                                                                                  
                                                                                         :*%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%-                                                                                                 
                                                                                       :*%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*.                                                                                               
                                                                                      -%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%-                                                                                              
                                                                                    .*%%%@%#%@@@@@@@@@@@%@@@@@@@@@@@@@@@@@@@@@@%@@@@#:                                                                                            
                                                                                   .#%%%@@#%@@@@@@@@@%@%%@@@@@@@@@@@@@%@@@@@@@@%%@%%%%+                                                                                           
                                                                                  .#%#%@@#%@@@@@@@@@@%@%%@@@@@@@@@@@@@@@@@@@@@%@%@%%@@#+                                                                                          
                                                                                 .*#*#%@%%@%@@@@@@@@@%@%#@@@@@@@@@@@@@%@@@@@@@%%@%%#@@%#+                                                                                         
                                                                                .#%*#%@%#%%@@@@@@@@@@%@%#%@@@@@@@@@@@@%@@@@@@@@#%#%#%@@##:                                 ....:-:.                                               
                                                                                +@##%@%##%%@@@@@@@@@@%@%##%@@@@@@@@@@@%@@@@@@@@%#####%@%#+                         .:-==+**#*######+===--:.                                       
                                                                               :@#*#%@####@@@@@@@@@@@%@%#@%@@@@@@@@@@@%@@@@@@@@@#####%@@%#.                   .-=+********##*****++++%##****=:                                    
                                                                               +@##%@%#%@%@@@@@@@@@@@%@@#@@@@@@@@@@@@@%@@@@@@@@@%%@%@%%@%%=                 -+*+=+++++++****+*****++++++++*++**:                                  
                                                                               #%#%%@%#@@%@@@@@@@@@@@@%@%#@@@@@@@@@@@%@@@@@@@@@@@%@%@@%@@%%:              -*+==+++++++++******+++++++++***#*+++**:                                
                                                                              .%%#%%@#%@@@@@@@@@@@@@@@@@@#@@@@@@@@@@@%@@@@@@@@@@@@%%%@%@@@%=            :++=++**++++******+++++**##*+++*+++*#+++=#+                               
                                  .:----===--..                               :@%%%@@#@@@@@@@@@@@@@@@@@@@%%@@@@@@@@@@@@@@%%@@@@@@@%@%@%@@@@=          .=+=++**++++***+*#*++*#####*++++++++++*#+++=**=.                            
                             .-====-::::.:.:=+**=---:.                        :@@@%@%%@@@@@@@@@@@@%#@@@@@@@@@@@@@@@@@@@@**%%@@@@@@@@%@%@@@@=        .=+=+***++++***+*#*+*#%###*++**++++++*+++*#+++=+**:                           
                           -++-::..:....-==-:.     .:-==-.                    .@@@@@%%@@@@@@@@@@%%==@@@@@@@@@@@@@@@@@@@#.-*@%@@@@@@@@@@@@@@-      .=**+***++++#***###*#%#%#*++++***+++*++*#+++*#++++++#=                          
                        .==-::::...   :=-..   ..:----==::-=-:     :---=:.     .%@@@@@%@@@@@@@@@##=-.+@@@@@@@@@@@@@@@@@%:  ++%%@@@@@@@@@@@@@:    .=####%**+++***##%%######*+++****+++++#*++%#+++##+++++*#+.                        
                      .==::::...    .:-:.  ..::..   ...:-=+===..--:::::-+=.   .%@@@@@@@@@@@@@@**=:  .##@@@@@@@@@@@@@@%:   .+*%%@@@@@@@@@@@%.   -####%#++++*#*##%%#**##%*+++****++++**+*#++%##*++%#*++++*#+                        
                     -===:..         ::-----:.          .. .:=*+::::::::::+-   -%@@@@@@@@@@@@###++++**%%@@@@@@@@@@%@###*+++**#%%@@@@@@@@@@#. -*#%%%%#*+++####%%#+*##%#+++*###*++++**++*#*+%###*+*%#*++++*#-                       
                    -+*-:=          .:.    ..--.  ::-=======:..=+...   .:--=+.  #@@@@@@@@@@%+*:.   ..:-=**@@@@@@@#%=........=:**#@@@@@@@@@--*+--+###+++*###%#*+*##%#++**####++++*#***+*##+%###%*+#%#*++++**.                      
                   :+#-....-:.     ..         .--..        .-===:==: .:-. :=+*. -%@@@@@@@@@**===++++++=+**#%@@@@#=+====++++*+*=+#@@@@@@%+=+.  .+##%*++*###*+++*###++*####%*++**#####*+*##+%***###+##**+=++#+                      
                 .===+.. .=: .     .   ..       .+:.           .==-=+=::=-.-:*+  +@@@@@@@@@%#**@@@%%%%=*@#=+*@%%++#@@%%*-%@@=+#--%@@@@%+..=- .*#+*++*####**+*#*#++*####%#++*####+%%#++*#%*%#++*###*%##*==+#%:                     
                .+-:*:. ::-:      .    ......    .-=.             :+*=---=-.=.+- .=%%@@@@@%=-+-##%%%%@%%%-..==#*.-*####%#%#*-:...*@%@%#++--+.*++***##%#*##+***++*###%%%++*###%+-=%##+++#####+%**#######+=+*#*                     
               .+---+ .-: --     .::.    ......    .+:             .#:---:+::+ =: +::%@@@@#--::........    ...::        ......:::*@%%+=---+=*=*########%#*##+*#%##%*#*+*##%#*=-.*###*=+##%##*%#++#*#####++*##.                    
               +---+-.-. .-+     .::-:    .... ...  .=-    =*===++==+-==---+ -- + +.-*#@@%%=+-::::..      ..:---.       ...::::--*#%#-=-:===*#*++*%#+%%####*%%###+=*+*##*=----+###%%+=+##%##+%%*+*#*%**##+*##:                    
              ==---*.=. ...*.    ::-::-:    .... ..   :=.   .==-::::-+=-=--*. + : +::==*%#%*=-:::..       .:::::.         ....::-*%*#++:====.   =*--*##%##%@%%#=-***##+-:...  :##+**+++#%#****%#+++**#++*#+##+                    
             :*----+-: .:..-=    -:-=-:--:   ..... ..  .=.    .-====*=::-=-+- =.  .*::=-*%+=-....          .::::.             ..:+=-* .==      =#-:+#*+*%%####*%%###*+++=:.. :**--#*++*##%#*#*#%+++*+**++*#+*#:                   
             +----=+: .-..:==-   -::-+--:-=:   ..........=:     ..-+=:= -=-+=.-:   .=+--+-=..                                  ..---#*+-       .*::=**==%@%%%#%%%#+#%#+====##%*=:+#*++*##%#*+.=**+++++++++####+                   
            .+----+= .=. .:*.+:...=:=====-:==.   ....... .-:  .-++==:=. --==+.-:     .-=+:-.                                    .::+-          .*::*+=+:#%@*:#%=%@#%#%@@@%**+*-+%%#++*##%#**. .:**++%+++***###%:                  
            -=--==-.:-. ..===.+:. =-=-++=+=--=-..  ......  -.  .::. .-  +::+:.+.        +=--:.              ..:.              ..::+-            *.:++*+-#@@+.+%.:#@@%*#@@%+*-:++%%%**#%%%*#+-:.:-**+#*+++%**+*##.                 
            =---+-::=. .:+=-*::*-..+==:=++=++--==:    ......:  ..       *. =-.*          =+---::.           -==:            .:::==              -=.:*=*+#%%-:+%- .-*%@@@%#::++:#+#%#%%%%%*=+*####*%**%*++%%*#-.=*.                
            =--+::.-...:+-:+-=:=*=.-+*:::-+++++=-=+-.   ....    =.     -+. .+-=           :+=-----:..                 .....:-==-.                -+..--#=-=:::=*+:.  .:-==.  . .##*=####+=-=+++++=-#*#%*+#*%#*  :-.               
            -=+=..=:. :+=:::++--=+=-=*=....:-=++=---=-.   ..    .+.:==++::. -#              .-==+=::::::...   ..........-+**=.                    .=+--#-::::::--====-==-:.  :=+%=.  +*-***%%@@%=+*+##:+#*-.=#:                   
            .+*:.=+. .++:::.-++=-=---=#:.   ..::=+*=-::...       **+.: -+:: .*                  .:=++++===--::::===+=+**##*=+++-                    .:=+--::::...      ..:--==+-:.:--#:+%%%##%@%:++:.#-*=*-  :*.                  
             *=:+=- .=*::. ..:+*+=+---=#.      .+%#-===--:...:   -+:*++:-++. +.                  .#==-=#*###===+#**:=*#*#*#+==-*:                      +=-:::...               .::----+*=+**#%#-.. - .+*.--   .:                  
            .*-+=+..:*=-.    ..-#++*+---*.   -*@#- ....:==+..:.  :*++*-=.++-.--                 -*++==*=+**#+--*+***#+#*+#*====-*.                      -+-:::.                .:::::.. :=+**+=-::.-.-#- :.                       
            --:#-+..+===*+-.    .=+-+*=--*:=%@#-  .:-=+=+-.=: -. .**=*--.-=*:.*               .=+==*==+*#+**+**##%%**=+=+**======*.                      -*-::..                ......       .-+++*++=-                           
            +::*-+.:*=:  .-*#*=:. .-::=+--+%%*===#%@*::+-...=-.-  ==+=::-.++=:+.             :*+++**#*#%%%%%*+%%*+++++*+=--=++==*++.                      .++::..        -=:..                 :--+:                              
            +.-+:+.+==:     .-*%%#+=.  .:-==#+::::==-==::::::=-= .=-+=-+::*-#:==            -#***#%%#*+==++*##*+-------=**++---+**++                        :++::.        -*+*++++==--          :-==                              
            +.:+-+-##=:.-=====###%#%=  ....::-===-==-::---==-:*=..+=*+=::*::**:*           :#**#%*+=---------==----------+#**=---+**.                         :=+:..       .-=+===#==-.         .::+                              
            =:.+-:=%@+:=+=:::.=+--==...::...        ...:---:::=+..=::-=+=.:.*-+==         :#*##+=--------------------------+**+===--==.                        .+-==-.        .....             ..==                              
            .+..=-:%@*-::-===--=-:   .---::..        ..:::::-:-+.-++=-::--::*.:+*:        +*%*=-----=+++=-------------------=***=-==-:=-                .--===+*=+::=*++=-:..                  .-+-                               
             .==--.+%+---:..         .:::...         ....:::----.+=:-:--=.:=+  .+*.      =%*=-----+*=------=-------------=----+*++-==--+=-             .*#----++-%-:::*+==**+=-:............:--=-                                 
                 .::*==---:.....       .....          ..:::----=-+*---:+..-*=    ..     -#=-----+*-------====-----===----------+**+====-+*+:          :*=+*==+*==#%:-##*=##:=+=+============-.                                    
                   =+=--::::.....                    ...::----=**++--::- :#=+         .**=----=*=-------++------=====+----------+**---=+=-+#-.       =*===*=+*=**+@+#####*#=*#%*#=                                                
                   +-=-:::::.....               ..   ...:---+#@***----.:.++:*        .#*==---++------=*#*--------++--=+----------**=----*+==#*=    .**=======+*#=-%@@*#+#+%%#*%#*#= --      .:                                    
                   ==--::::....          ..:-==--.   ..:--=++%@##---=- .-+::*        -#=----*=-----=*#*#=-------+**---+----------=#+-=---+*--##+ .+%+===--====#===%@@###=*@@%##%**#*-*  .-=+++                                    
                    ==-::....     :-===--::..       .:--++: -###-:=-+..+=:.:*       .#+----*=-----+#**+*=------+***=--+***=-------++--=---=*-*##-+#============#=+@@@@+**@@@%%##*#*==***+==++*=.                                  
                     :+=:.:....                   .:=+*#-:::*=*::*=:+:*: -==*       -%=---++----=*****+*=-----=*****--++=+**+-----=+=--==--++=#+*#=======+*++++**%@@@#+@@@@@#%*-*************++**+=-:.                            
                       +++==-...............   .:=+*+++-:::*=*-=*::+-#-    ::       +%---+*----+#****++*------******=-+====+##+---=+----+---*=#*+*+===++=#******%@@@@+*@@@#*+*+**###****###+++*###*+==*+-                         
                      -=:-===+===---::::::-=++**+====*:::-+=*==+*=:*#--*-..         +%--+#+---*##****=+#=--=-=#**+**+-*+=====+**=-=+=----+--*+#*****##.  +#****#@@@@#*#**+*#*###*####***####+=+**##**+*=:                         
                      *:-+:=::--::-+##*+***+=*+===#::+=:-*-+*+=**-=%=-*-=-+-        +#++*#=--*#**+**+-+*+----=**==**+=+-+======+*+=++---=+*-*+*%*****%:  -#**#*%@@@@%%%*##%%####*#####**#####*********++*+:                       
                     :+-*..+::+-==--=--+:--=*=+*==-*:-*-#-=###*+--=#=*+---:+=       +**+**=-+#*+=***=-=+#=---=#+==+*+*+-*+======++**+=--==#+*+###+***##. -#####%@@@@%***###%%#%##*#%%###%%%%%#**##%#***##**=.                     
                     :++:  .+-++#-===+++-:-+#*=++=+--:=+*-=%+=**--+**==----:=+:    .%#***+-=##+-+**+---=+#=--=#+=-=+*+===**+===+===**=+---*##=##%-****##:**#-#%@@@@#***######*#***##***##%%##%##%%%##%####*+*+-                   
                      =*    .***#=+=*=-==+++:=#++*-:::::*-+*===*---=**=------:=+.   #**#+--**+-=#*#=-=+-=+*+--*=---=+=-+=*-+*+=-+=--+==+=-+##+#*#=.+****##*#:*@@@@@%%#######******++****#****#%%%#*#%%%#+***+++=-                 
                      -:   -+==*#**=*==+*=*--:=*+*::-:..*-#===*-======*+===----:===.##**+==*+--=#*+--*=---+++-+=---===-*=*::*%**==*#+-=====%*+***+  -##*%%*-:+@%@%%%########%####***+*#%%#*******+*#%%%*++****+*=:                
                      .    :*=+*##+-=##+=-*::::-#=:::. .*-#==++-=+=====%====-------**##*+==+---+*#--=##----=+=-+=-=====#=+-*=.:-=++#%%+-==+#*****+   :=##=*::-*%%%%%%######%%#%%%##########***##**###%%#*####%%#+                 
                          .+#+=**#==**====+::::=-:::::. *-=+=#-====+===*-====-----=++##**===---**#--*=##=----+=-=====-+**##:......:-=#%#-==+#**-.*.  .+=-=++.+%%%%%%###%@#%#*#%%#%%%#####%%###%%##%%%%%%%%%%%%%%%+                
                         :+====+*#=*+=====-::..+:::..::.+--=*+======+**#+*+===---==+*=%**==----+*#--#--+**---**-====--#*%#+=+++++-....+**-==#*#*.=- =+-====##@@%%%%####%%#+::-%+##%#%%#%%%#####%++##*#%%%%%%%%%%%#=               
                        -+=-===*#%==#=-=-*:::..+.    ...====*-======***###%#+---==-*. +#*==---=+##-=#**=--+*--#%*===--#+++%@#+%*+*#%+..=*=--#**+:+-*====+++#@@@%%%%%%##++:....::-+*-#%#%%*#*=:+:.-*-:#*#%%%%%#%%%%*-              
                      :+==++=+**#%--++-=-*:::  =.       :*-*=======+*#%#*#*++++====:. -**+=---=+##-++-:-#**#%*=*+*+-:-+-..%@##@%. :=....-+-+*#=--#*====++###%@%%%%%%**-::.......    .:---:..      ..:::=#%%%%%%%%%:               
                     ==:-=+*#***##---#===*::.  -:       .*=*======+*#+======-----= .  .**+=--===**++=-==-+%*::.-+=-==+=. .%@%%@@+  .:----+-*#=:=#+===+*+##***%%%%%%*--:.         :+=        :==:      .:+#%%%%%%%%=               
                    .+:----=+***%*---+*=+=:::  ::        *=+=======+*=======--===.     -#=---+==##-**-:+%%=%+    ....--   +**=-:. ..:::::=+#+#**====++*#***#%%%%%##--:.          .-=:       :-:.       .:+*%%%%%%%#               
                    .=+=-=--====++====*=+-::::.:-        =+======++.*======-=*-         :#---*=-**==**+-@%#%%=   ..::--            ::...-++--*+**==++#-=+=**##%%%%=-:              .                    .::=#%%%%%%.              
                      .*=-======-#======+-:::::-= .....  .*-====-+=::+===-=*=.           .*--++-=*-*%+:.@@%%*:   .:-=-:.                 ..:*+***+***: *+=+=*#%%%+::                                     .::+%%%%%%=              
                        =+--=--=-.*==-=-+::::::-= ......  +-=====**+- ::-=*-.            :-+==%#=#-.:=:.==:.     .:::::.                ...*+=#***#+.  *=*=-=+%%%+.     :=======-::.        :-======--.  .:::-*%##--              
                         .+:==-..*=-=-=-*::::::-+  .......:+====+*--*::::.*              =:=*+*@**=--::...       ...:..                ..-*==+***#-   .*++-==##*#+..  -*=-::::::-++:       .:-::::::--=+: .::::@#*                
                          .=*-.=*-+#===-*:::.::*:     .....+-===%*++*----*=              =-++==%*:*+::...                .=+.         .:+*===***#.    -+*===#+..-+..  =#....*#*:...           .#%#:..::=* .:::-%%*                
                             =*+++=*==--*::.  .:+          :=-====--==. .*=.             .==--=+-:.-:.          .:.  :+:-+-         .-+*+==+***+.     **===**-:+**...  =.   *%#.               *%#.  .=+. .:::*%%+                
                             +=-*##===--+:.   .:=           +:======-*-:*=-+:              :=-=+-:              :++=-+:#.       .:=*##*+==+***-     .=*+==+-*-=*=*:::.:..=:. .                :.       ....:::%#%#.               
                             ++-###-=---*:. .::-=           .=-======--+====#:   ...::.:...::-:*=:..                .=:-:     :+==##%**+=+***.      :+====* *=-==+=:---:..:-=:       .::.     .-===-..:--::::*%--=+               
                              -##*====-=+:..:::-=            +-=======-======#..::-==+++****++==++::....             =::= .::-++:-#====#++##*       :*===+= -#:==*-:-:....            .:.          ....:-----#=#-:#.              
                              :%#*====-==:::::::.            .*-===========---+.:-=++*****##***+-=*==::...... .      =:.==++=+=::-*+====###*#:     =*+===+-  :#==+::::..                            .....:::*==+-:#               
                              ***+====-+=::::....             :*-=========--=*=.:-===+*********%#*==+*+=*****++=+===:*.   -*=**+=-++====*****+     *=+==+%:   .*#:....                                  ....=+*-:*=               
                             .#**+====-*:::...... ...          ==-=====--=+*+-=  .::::--===---:.:*#+-.-==*##*****:.-=*-..:-**+*:-*+:*====#++=*.    :**=-=+     .#-:.            .==.     .=-               .:#--*=                
                             +*++=-====*::..  ...  ...         .*-====-+**==-:+:                .. .=+====#++##*#*=:=#=--=+*#+*  .:::*===#===+=   .++-*++. .....+*--.             -+-  -=-.                :-*=-.                 
                            :*=-------=+:::.   .-=. ....     .+##+===*##+=-::::*                -==***+**-=*#%**+*.=#==+*+*-*+*    :::+*=#=+==*.=#%@%#%.  :::::::**--:.             :=-.                ..--+:                    
                            .*#==------*-:::.  .#*#- ......=*#***#+*#*+=+--:-:::+              ==:===--=**##%%%#+*+-**-:-+#**%-     .:::+#*+==+#%@@@@%#::::::::---=#+-::..                            .:::-+:                     
                            .#+###*+=-=###+=::.:%*##=  .-+##***++***+=====---:::=-             *#*+=====--=====++-=-+-*++-*++*       .::::+*===*:--=++=:::::::-----:-++=::..                       ...:-==.                       
                            -*==+***###****##*++#**#**+##**+===============--::::*.            -#**+================+++:::=###         .:::#%+-+-:::::::::----------*++**+-::....    .      ......:=++=.                          
                            *++----=*++++******#***##***+=================+=-:::::*.            =##***++========---=+::::::*+#.          .-*-+*=+-...::::.--========*=====++*+=-::..........::-=++===+*=                          
                           :#+=----=+====+**********%#*+=========--========+=-::::-+             .:==+**********#****.:::::*+*=     .-====#=-::+--=       ..---=----*=++===*#*****=+***+==+*##*++===+=*=                          
                           =*+=----+-======+*******#+#**+===================+=:.:::==                    ..:-=##%#*#. ..:::=++*..-==-:----=#*:-:+-+            ... :+==+*+=*++##=#=#*=**-=***#*==+*+=-*.                          
                           *++----==========+****#*. .*##***+================+=----:==                        -#***#::. .::-*++=+-:---====--=#-:--*                .+-===+**+#+=+==*##=-+**+=+#++====+-                           
                           #+=----+=========+**+++.    :+##***+===============+===--:=-                        +#**#::-==--=#+++#--========-.=*::+#.                *==+++*+#===#:-#++*::+==%++++===-*                            
                          :#+=---=+========+****=         :+#***+==============+====-:=-                       .#*#*=::-:::=#++=#==========-:==..:*                 =+==++*#+*==*==#++#:++=****++==-+-                            
                          =+=----*========+****:            .+#***+=============*=====:+-                      .#*%###*+::::#++*===========-:++--=-                 .#==++**+=*+=*=*++#=*+*+*+++===-*                             
                          *==---=*==++++++****.               .-*#*++============+====-.+:                     -%#****###***%++*-==========-:+=...                   +===++#++=+*+**++*%*==#=++===-*:                             
                         :#*+--=+====++*****+                    .:+**+++=====-===+====-:*.                   =+=--+********##*++========---:+-                      -+-===+#*****#*+*#====*#+=====-                              
                        .+####*=*=======+**#+                        :=**+========++***+-+-                 .+=-==-=+*********%#**======---*#+.                       *-====+%*****+*+=+****#=====*                               
                       .#******##+=======+**#:                          +*++=----+*###*=-*=.               .*=--==--=+*********%**+------+###-                        -+-====*#***#**#*****#====-*.                               
                        +==-=+#%*#*===++**#*.                           =****+=+##***#===-+.               +=======--=+********#***+=+*****#%:                        .*-===-=%**##*#*****#=====+-                                
                         *----+==+*+=+***#*.                            .=*%#**#****++=--:+               -+=========--=**####*+##***********                          +======%##%###****#+======                                 
                        .*#*--*======+***+                                 .-+#****++**++%=              .#+=--======-=#######%%=:-=+*######+.. .....::. .             :*-====##%#*##***##=====+                                  
                      .=#%%%%#++====+**#=                                     -+#####%%%%%%=             =#+--========#******#%%=..:--%%%%%#+*=:-------::::.          :*#--===+%###*####%+====*:                                  
                    :+*#%@@@@@%%*=--+*#=                   .....                **%%@%@@@%%%=            ***+-======+*#**####%%*---===%%%%%%**+==---==-----:.        -#*#=-=-==##*##***#*===-+-                                   
                  -#%%%@%%%%%%@@%%#=-*:          ..... .............         .. +++*####%%###-.    ..::::=#***+=+++***##**++==---=====++++++===========----:.        ****#++++*##*##**#=----=+                                    
                 .#*%#*#%%#%%%%%%%%##:        ............. ............... .....::--===-----.. ...:::::::-*#*****#*+=-::::------==================--------..        #*##--::.-=***++-=++++=%=                                    
                 .::::::. ...:=+++++-.         .................................................:::-------::-+*+==-------------============------:::::::::           #**++#---*++#=+==::.=##*+                                    
              .........    .   ......         ..................................................::::::---:::----------------------======---:::-::.......       ......#**=-=+++==+%==+++++==***                                    
               .......................      ...............................................     .::::::::::::----------------:::::::::::.......              .......:#**=--====-+%=======-+***                                    
                 ......................      .....................  .....     . ...                ...  ..........::::::::....... .                       ..........=**++==---=++#+++==---+**+                                    
                    ...................        ...... ..                                                                                                 ............***********#:***+++++***=  ......::::.                       
                       .          .                                                                                                                        ..........:-=+****++=-..:=****+==: ........:::::                       
                                                                                                                                                           ...............................    ........::::.                       
                                                                                                                                                             ..............................  .............                        
                                                                                                                                                                          .......  ........   .      .                            
                                                                                                                                                                                                                                  
                                                                                                                                                                                                                                  
                                                                                                                                                                                                                                  
                                                                                                                                                                                                                                  

</pre>

</body>
</html>
