<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>Dots</title>
    <style>
        body {
            background: black;
            color: rgb(139, 212, 234);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: monospace;
            cursor: pointer;
        }
        pre {
            font-size: 16px;
            line-height: 1.2;
        }
    </style>
</head>
<body onclick="nextPage()">

<pre>
.... .... ....
.... .... ....
..嘿，某某人 ..
.... .... ....
.... .... ....
</pre>

<script>
function nextPage(){
    window.location.href = "christmas.html";
}
</script>

</body>
</html>
